* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  header {
    max-width: 1440px;
    margin: auto;
    padding: 16px 160px;
    display: flex;
    justify-content: space-between;
    border:  none;
  }
  header .logo-container {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  header .logo-container .fa-bars{
    display: none;
  }
  header .logo {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  header nav ul li a {
    text-decoration: none;
    color: #6c7275;
  }
  .active {
    color: black;
    font-weight: 600;
  }
  header .icon-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  header .icon-container .cart-container {
    display: flex;
    gap: 8px;
  }
  
  header .icon-container .cart-container .circle {
    width: 20px;
    height: 20px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 12px;
  }


  .img-container{
    margin: auto;
    max-width: 1440px;
    height: 399px;
    display: flex;
    justify-content: center;
  }
  .img-container .img{   
       width:1120px;
       Height:392px;
  }

  .img-container .sub-div{
    position: absolute;
    width:413px;
    height:162px ;
    margin-top:115px;
  }
  .sub-div .sub-anch{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: auto;
    width:107px;
    Height:24px; 
  }
  .sub-anch .home{
    text-decoration: none;
    color: #6c7275;
    font-size: large;
    display: flex;
    gap: 6px;
    width: 56px;
    height: 24px;
  }
  .fa-solid{
    width: 12px;
    height: 12px;
  }
  .sub-anch .shop{
    text-decoration: none;
    color: #0b0b0b;
    font-size: large;
    width: 35px;
    height: 24px;
  }
  .img-container .heading{
    display: flex;
    justify-content: center;
    padding: 2px;
    width: 288px;
    Height: 58px;
    margin-left: 73px ;
    margin-top: 19px;
    font-size: xxx-large;
   }
   .img-container .para{
    width: 414px;
    height: 32px;
    padding-left: 53px;
    margin-top: 24px;
    font-size: larger;
   }
  

   .content{
    width: 1440px;
    height: 1707px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-left: 20px;
    margin: auto;
    gap: 30px;
  }

   .content .filter-container{
    width:262px ;
    height:582px ;
   }

  
   .filter-container .head{
     width:262px;
    Height:32px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:8px;
    padding: 0;
    border: none;
   }
   .filter-container .vector{
    width:18px;
   Height:16px;
   }
   .filter-container .filter{
    width: 222px;
    Height: 32px;
    padding: 4px;
    font-weight: 800;
    font-size: large;
}
   
.categories {
  width: 262px;
  height: 264px;
  margin-top: 29px;
  overflow-y: scroll;
}
.categories::-webkit-scrollbar {
 width: 10px;
 height: 0px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #343839;
  border-radius: 80px;
}

.categories::-webkit-scrollbar-track {
  background-color: #e8ecef;
  border-radius: 80px;
}

.categories h4{
  width:254px ;
  height: 22px;
  
}
.categories .room-list{
    width: 254px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #6c7275;
}

.room-list li{
  list-style-type: none;
  font-weight: 600;
}

.room-list li:hover{
  color: #0b0b0b;
  border-bottom: #0b0b0b 1px solid;
  font-weight: 700;
  line-height: 22px;
  width:91px;
  cursor: pointer;
}

.filter-container .price{
width: 254px;
height: 222px;
margin-top: 7px;

}
.price h4{
  width: 254px;
  height: 22px;
  padding: 1px;
}

.price .checkbox{
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 184px;
  margin-top: 11px;
  gap:6px;
}


.checkbox .one{
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 254px;
  height: 24px;
  padding: 7px;

}
.checkbox input{
  width: 24px;
  height: 24px;
  background-color: #0b0b0b;
  color: #fff;
  accent-color: black;
}

   .content .shop-content{
    width: 834px;
    height: 1577px;
  }
  .shop-content .shop-header{
    width: 834px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; 
    margin-top: 0px; 
    border: none;  
  }
  .shop-header .Living-room{
    width: 119px;
    height: 32px;
    margin-top: auto;
  }

  .shop-header .right-side{
    width: 296px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-side .r-icons{
    width: 184px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    justify-content: center;
  }
  .right-side p{
    font-size: large;
    font-weight: 800;
  }

  .shop-content .grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width:834px ;
    height: 1350px;
    margin-top: 24px;
    gap:24px;
    overflow-y: scroll;
    position: relative;
   }
   .grid-container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
   }
   .grid-container::-webkit-scrollbar-thumb{
    border-radius: 90px;
    background-color: #343839;
   }
   .grid-container::-webkit-scrollbar-track{
    border-radius: 80px;
    background-color: hsl(195, 4%, 80%);
   }
    
  .grid-container .box{
    width: 262px;
    height: 433px;
  }

  .box .add{
    width: 230px;
    height: 46px;
    position:absolute;
    margin-top: 252px;
    margin-left: -83px;
    border-radius: 9px;
    background-color: #0b0b0b;
    color: #fff;
    transition: 1s ease;

  }
  .box :hover.add{
    background-color: #fff;
    color: #0b0b0b;
  }
  .grid-container .heart{
    position:absolute;
    width: 32px;
    height:32px;
    margin-top: 16px;
    margin-left: 214px;
    background-color: rgb(245, 245, 245);
    border: 2px solid whitesmoke;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .grid-container .heart img{
    margin: auto;
    margin-top: 3px;
    padding: 4px;
    color: #6c7275;
  }
  .box:hover .heart{
    opacity: 1;
  }

  .grid-container .all-images{
    width:262px ;
    height:349px ;
  }
  .grid-container .badges1{
   position: absolute;
    width: 71px;
    height: 56px;
    margin-left: 30px;
    margin-top: -41%;
  }
  .badges1 .btn{
    width: 67px;
    height: 24px;
    background-color: #fff;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .badges1 .btn1{
    width: 67px;
    height: 24px;
    background-color: #07df7aed;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    color: #fff;
    margin-top: 6px;
  }
  .foot{
    width: 262px;
    height: 72px;
    gap: 7px;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
  }
  .foot .p1 {
    width: 88px;
    height:16px ;
    display: flex;
    gap: 12px;
  }
  .fa-star{
    width: 2px;
    font-size:small ;
  }
  .foot .p2 {
   width: 262px;
   height: 26px;
   font-weight: 700;
}
.foot .two-para {
  width: 125px;
  height:22px ;
  display: flex;
  flex-direction:row;
  align-items: center;
  gap:4px;
}
.foot .p4 {
  width:57 ;
  border-bottom: 2px solid rgb(173, 171, 171);
  line-height: 1px;
  color: #abadae;
}

.shop-content .Show{
  width: 163px;
  height: 40px;
  border-radius:80px ;
  padding: 10px;
  margin-left: 338px;
  margin-top: 55px;
}


.last-section{
  width: 1440px;
  height: 360px;
 
  margin: auto;
  background-image: url(images/Image\ Placeholderfoot.png);
}

.last-section .inner-container{
  width: 540px;
  height: 166px;
  margin-top: 101px;
  margin-left: 450px;
}
.inner-container .mid-section{
  width: 540px;
  height: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;

}
.last-section .email-section{
  width: 488px;
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid gray;
  
}
.email-section .msg{
  width: 428px;
  height: 28px;
  gap:8px;
  color: #6c7275;
  display: flex;
  align-items: center;
  
}
.msg .fa-envelope{
 width: 24px;
}
.msg input{
  width: 396px;
  height: 28px;
  border: none;
  outline: none;
}
.email-section button{
  border: none;
  color: #6c7275;
}

.last-footer{
  width: 1440px;
  height: 249px;
  margin: auto;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
}
.last-footer .foot-head{
  width: 1120px;
  height: 32px;
  
  display: flex; 
  align-items: center;
  margin-top: 70px;
}
.foot-head .head{
  width:544px;
  height: 24px;
  margin: auto;
  color: #fff;
  display: flex;
  gap:32px;
  margin-top: -12px;
  margin-left: -161px;
  align-items: baseline

}
.foot-head h4{
 font-size: larger;
 border-right: 2px solid grey;
 width: 94px;
}
.foot-head p{
width: 350px;
height: 22px;
}
.foot-head .a-tag{
  width: 392px;
  height: 22px;
  display: flex;
  gap: 28px;
  align-items: center;
  margin-right: -155px;
  justify-content: right;
}
.a-tag a{
  color: #fff;
  text-decoration: none;
}
.last-footer .link{
  width: 1120px;
  height: 32px;
  border-top: 2px solid rgb(75, 73, 73);
  line-height: 45px;
  display: flex; 
  align-items: center;
  margin:auto;
  justify-content: space-between;
}
.link .copy{
  width: 565px;
  height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link .para{
  font-weight: 800;
}
.link .last-icons{
  color: #fff;
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: end;
  align-items:center;
  gap: 22px;

}