* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#banner {
  max-width: 1440px;
  padding: 20px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  background-color: #f3f5f7;
  position: relative;
}
#banner img {
  width: 24px;
  height: 24px;
}
#banner p {
  font-size: 14px;
  font-weight: 600;
}
#banner a {
  font-size: 14px;
  color: #377dff;
  text-decoration: none;
  border-bottom: 1px solid #377dff;
}
#banner .fa-xmark {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
header {
  max-width: 1440px;
  margin: auto;
  padding: 16px 160px;
  display: flex;
  justify-content: space-between;
}
header .logo-container {
  display: flex;
  gap: 4px;
  align-items: center;
}
header .logo-container .fa-bars {
  display: none;
}
header .logo {
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
header nav ul li a {
  text-decoration: none;
  color: #6c7275;
}
.active {
  color: black;
  font-weight: 600;
}
header .icon-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
header .icon-container .cart-container {
  display: flex;
  gap: 8px;
}

header .icon-container .cart-container .circle {
  width: 20px;
  height: 20px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 12px;
}

#hero {
  max-width: 1440px;
  margin: auto;
  padding: 0 160px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#hero .img-container {
  width: 1120px;
  height: 536;
}

#hero .img-container img {
  width: 100%;
  height: 100%;
}

#hero .content-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hero .content-container h2 {
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  width: 643px;
}

#hero .content-container p {
  font-weight: 600;
  width: 424px;
}

#product {
  max-width: 1440px;
  margin: auto;
  padding: 0 160px;
  display: flex;
  gap: 24px;
}

#product .img-container {
  width: 548px;
  height: 664px;
}

#product .img-container img {
  width: 100%;
  height: 100%;
}

#product .right-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#product .right-container > div {
  width: 548px;
  height: 319px;
}

#product .right-container > div img {
  width: 100%;
  height: 100%;
}

#slider {
  max-width: 1440px;
  padding-top: 48px;
  padding-left: 160px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#slider .slider-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1120px;
}

#slider .slider-header h2 {
  font-size: 40px;
  font-weight: 500;
  width: 149px;
}

#slider .slider-header a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

#slider .slider-container {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow-x: scroll;
  padding-bottom: 1rem;
}

#slider .slider-container .card {
  width: 262px;
}

#slider .slider-container .card .img-container {
  width: 100%;
  position: relative;
}

#slider .slider-container .card .img-container a {
  width: 230px;
  padding: 8px 24px;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: block;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

#slider .slider-container .card .img-container a:hover {
  color: black;
  border: 1px solid black;
  background-color: #fff;
}

#slider .slider-container .card .img-container .tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#slider .slider-container .card .img-container .tag > p {
  padding: 4px 14px;
  background-color: #fff;
  color: black;
  border-radius: 4px;
}

#slider .slider-container .card .img-container .tag #discount {
  background-color: #38cb89;
  color: #fff;
}

#slider .slider-container .card .img-container .heart-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: 0.3s ease;
  cursor: pointer;
}

#slider .slider-container .card:hover .heart-container {
  opacity: 1;
}

#slider .card .content-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0.5rem;
}

#slider .card .content-container p {
  font-weight: 600;
}

#slider .card .content-container p del {
  font-weight: 400;
  color: gray;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #343839;
  border-radius: 80px;
}

::-webkit-scrollbar-track {
  background-color: #e8ecef;
  border-radius: 80px;
}

#contact {
  max-width: 1440px;
  margin: auto;
  padding: 48px 160px;
  display: flex;
  align-items: center;
  gap: 24px;
}

#contact .contact-card {
  width: 266px;
  height: 220px;
  background-color: #f3f5f7;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#contact .contact-card i {
  font-size: 3rem;
}

#contact .contact-card > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#contact .contact-card > div p {
  font-size: 20px;
}

#contact .contact-card > div span {
  font-size: 14px;
  color: #6c7275;
}

#sale-banner {
  max-width: 1440px;
  display: flex;
  margin: auto;
}

#sale-banner .img-container {
  width: 720px;
  height: 532px;
}

#sale-banner .img-container img {
  width: 100%;
  height: 100%;
}

#sale-banner .content-container {
  width: 720px;
  height: 532px;
  padding-right: 160px;
  padding-left: 72px;
  background-color: #f3f5f7;
  display: flex;
  align-items: center;
}

#sale-banner .content-container > div {
  width: 452px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#sale-banner .content-container > div span {
  color: #377dff;
  font-weight: 700;
}

#sale-banner .content-container > div h2 {
  font-size: 40px;
}

#sale-banner .content-container > div p {
  font-size: 20px;
}

#sale-banner .content-container > div a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;
}

#article {
  max-width: 1440px;
  margin: auto;
  padding: 80px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#article .article-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#article .article-header h2 {
  font-size: 40px;
  width: 147px;
}

#article .article-header a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

#article .article-card-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

#article .article-card-container .article-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#article .article-card-container .article-card img {
  width: 357px;
  height: 325px;
}

#article .article-card-container .article-card > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#article .article-card-container .article-card > div p {
  font-size: 20px;
}

#article .article-card-container .article-card > div a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: fit-content;
}
.last-footer{
  width: 1440px;
  height: 249px;
  margin: auto;
  background-color: #0b0b0b;
  display: flex;
  flex-direction: column;
}
.last-footer .foot-head{
  width: 1120px;
  height: 32px;
  
  display: flex; 
  align-items: center;
  margin-top: 70px;
}
.foot-head .head{
  width:544px;
  height: 24px;
  margin: auto;
  color: #fff;
  display: flex;
  gap:32px;
  margin-top: -12px;
  margin-left: -161px;
  align-items: baseline

}
.foot-head h4{
 font-size: larger;
 border-right: 2px solid grey;
 width: 94px;
}
.foot-head p{
width: 350px;
height: 22px;
}
.foot-head .a-tag{
  width: 392px;
  height: 22px;
  display: flex;
  gap: 28px;
  align-items: center;
  margin-right: -155px;
  justify-content: right;
}
.a-tag a{
  color: #fff;
  text-decoration: none;
}
.last-footer .link{
  width: 1120px;
  height: 32px;
  border-top: 2px solid rgb(75, 73, 73);
  line-height: 45px;
  display: flex; 
  align-items: center;
  margin:auto;
  justify-content: space-between;


}
.link .copy{
  width: 565px;
  height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.link .para{
  font-weight: 800;
}
.link .last-icons{
  color: #fff;
  width: 120px;
  height: 24px;
  display: flex;
  justify-content: end;
  align-items:center;
  gap: 22px;

}

@media (max-width: 430px) {
  #banner {
    gap: 8px;
  }
  #banner img {
    width: 16px;
    height: 16px;
  }
  #banner p {
    font-size: 12px;
  }
  #banner a {
    display: none;
  }

  header {
    padding: 16px 32px;
  }

  header .logo-container .fa-bars {
    display: flex;
  }

  header .logo-container .logo {
    font-size: 16px;
  }

  header nav {
    display: none;
  }

  header .icon-container > a {
    display: none;
  }

  #hero {
    padding: 0 32px;
    padding-bottom: 40px;
  }

  #hero .img-container {
    width: 311px;
    height: 304px;
  }

  #hero .content-container {
    flex-direction: column;
  }

  #hero .content-container h2 {
    font-size: 72px;
    font-weight: 500;
    line-height: 76px;
    width: 311px;
    font-size: 40px;
    line-height: 44px;
  }

  #hero .content-container p {
    font-weight: 600;
    width: 313px;
    font-size: 14px;
  }

  #product {
    padding: 0 32px;
    flex-direction: column;
  }

  #product .img-container {
    width: 311px;
    height: 377px;
  }

  #product .right-container {
    gap: 16px;
  }

  #product .right-container > div {
    width: 311px;
    height: 180px;
  }

  #slider {
    padding: 32px 0;
    padding-left: 32px;
  }

  #contact {
    padding: 32px;
    flex-wrap: wrap;
  }

  #contact .contact-card {
    width: 400px;
    height: 220px;
    background-color: #f3f5f7;
    padding: 48px 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #sale-banner {
    flex-direction: column;
  }

  #sale-banner .img-container {
    width: 375px;
    height: 367px;
  }

  #sale-banner .content-container {
    width: 375px;
    height: 367px;
    padding-right: 32px;
    padding-left: 32px;
  }

  #sale-banner .content-container > div h2 {
    font-size: 34px;
  }

  #sale-banner .content-container > div p {
    font-size: 16px;
  }

  #sale-banner .content-container > div a {
    font-size: 14px;
  }

  #article {
    padding: 40px 32px;
  }

  #article .article-card-container {
    flex-direction: column;
  }

  #article .article-card-container .article-card img {
    width: 311px;
    height: 283px;
  }

  #article .article-card-container .article-card > div p {
    font-size: 16px;
  }

  #article .article-card-container .article-card > div a {
    font-size: 14px;
  }
}
